* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%; /* 1rem = 16px */
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

@media (min-width: 768px) { /* Tablets and larger devices */
  html {
    font-size: 90%; /* Scales down font size for tablets and small desktops */
  }
}

@media (min-width: 992px) { /* Desktops and larger screens */
  html {
    font-size: 100%; /* Default font size for desktops */
  }
}

@media (min-width: 1200px) { /* Large desktops */
  html {
    font-size: 110%; /* Slightly larger font size for large screens */
  }
}